body{
    background-size: cover;
}
.heading{
    width: 100%;
    font-size: 24px;
    height: 5%;
    margin: 0px;
    color: black;
}
button{
    font-size: 20px;
}
#number_of_objets{
    font-size: 20px;
}
#status{
    font-size: 20px;
}
.copyrite{
    color: aliceblue;
    position: fixed;
    bottom: 0;
    background-color: darkgoldenrod;
    width: 100%;
    line-height: 2;
    font-size: 17px;
}
#object_name{
    width: 15%;
}